<!-- <app-qbe></app-qbe> -->
<input class="form-control" #box (keyup.enter)="onEnter(box.value)" type="text" [(ngModel)]="ZoneCode" name="ZoneCode" id="SearchBox" placeholder="Enter the Zone Code">
<div style="text-align: center">
    <p style="text-align: center">OR</p>
</div>
<input class="form-control" #box1 (keyup.enter)="onEnter(box.value,box1.value)" type="text" id="SearchBox" placeholder="Enter the DivCode">
    

<table class="table table-striped" style="width:100%">
  <thead class="bg-info">
      <tr>
          <th>Division Code</th>
          <th>Division Name</th> 
          <th>Zone Code</th>
      </tr>
  </thead>
  <tr *ngFor="let division of divisions">
    <td><input type="text"  class="form-control" readonly name="" id="" value="{{division.divCd}}"></td>
    <td><input #box2 (keyup.enter)="onEnter3(box2.value,box3.value,division)" type="text" name="" id="" value="{{division.divNm}}" class="form-control"></td>
    <td><input #box3 (keyup.enter)="onEnter3(box2.value,box3.value,division)" type="text" name="" id="" value="{{division.znCd}}" class="form-control"></td>
  </tr>
</table>
<form>
    <div class="form-row">
      <div class="form-group col-lg-4 col-md-4">
        <!-- <label for="inputEmail4">Division Code</label> -->
        <input type="text" class="form-control" id="input41" placeholder="Email" [(ngModel)]="divisionCode" name="divisionCode" required>
      </div>
      <div class="form-group col-lg-4 col-md-4">
          <!-- <label for="inputEmail4">Division Name</label> -->
          <input type="text" class="form-control" id="input42" placeholder="Email" [(ngModel)]="divisionName" name="divisionName" required>
      </div>
      <div class="form-group col-lg-4 col-md-4">
            <!-- <label for="inputEmail4">Zone Code</label> -->
            <input type="text" class="form-control" id="input43" placeholder="Email" [(ngModel)]="ZoneCode" name="ZoneCode" required>
      </div>
      <button style="margin-left: 50%" type="submit" (click)="onsubmitAdd()" class="btn btn-primary">Add</button>
    </div>
   
</form>

  
