<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Medical Staff Registration</li>
  </ol>
</nav>

<div class="container" >
  <div style="text-align: center;margin:0;width:100%;background-color: steelblue;color: white">
    <p style="padding: 8px">Medical Staff Registration</p>
  </div>
    <form action="/"  (submit)="onRegisterSubmit()" style="padding: 5px" >
        <div class="form-row" >
          <div class="col-md-4 mb-3" >
            <label for="validationDefault01">First name</label>
            <input type="text" [(ngModel)]="firstname" name="firstname"  class="form-control" id="validationDefault01" placeholder="First name"  required>
          </div>
          <div class="col-md-4 mb-3" >
              <label for="validationDefault02">Middle Name</label>
              <input type="text" [(ngModel)]="middlename" name="middlename" class="form-control" id="validationDefault02" placeholder="Middle name"  required>
            </div>
          <div class="col-md-4 mb-3" >
            <label for="validationDefault02">Last Name</label>
            <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" id="validationDefault02" placeholder="Last name"  required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault03">Health Care Center</label>
            <input type="text"  ngModel="RailwaysHospital" name="healthcarecenter" ng-init="healthcarecente='Railway Hospital'" value="Railway Hospital" class="form-control" readonly name="center">
            <!-- <input type="text" [(ngModel)]="healthcarecenter"  ng-init="healthcarecenter='Railway Hospital'" name="healthcarecenter" class="form-control" readonly id="validationDefault03" value="Railway Hospital" > -->
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Designation</label>
            <input type="text" [(ngModel)]="designation" name="designation" class="form-control "  id="validationDefault04" placeholder="Designation" required>
          </div>
          <div class="col-md-4 mb-3">
              <label for="validationDefault04">Department</label>
              <input type="text" [(ngModel)]="department" name="department" class="form-control "  id="validationDefault04" placeholder="Department" required>
            </div>
        </div>
    
        <div class="form-row">
            <div class="col-md-4 mb-3" style="width:0">
              <label for="validationDefault03">Station</label>
              <input type="text" [(ngModel)]="station" name="station" class="form-control" id="validationDefault03" placeholder="Station" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault04">Email Id</label>
              <input type="text" [(ngModel)]="email" name="email" class="form-control "  id="validationDefault04" placeholder="Email id" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault04">Mobile No.</label>
                <input type="number" [(ngModel)]="mobile" name="mobile" class="form-control "  id="validationDefault04" placeholder="Mobile No" required>
              </div>
          </div>
          <div class="form-row">
              <div class="col-lg-4 col-md-3 mb-3">
                <label for="validationDefault04">Railway No.</label>
                <input type="number" [(ngModel)]="railwayno" name="railwayno" class="form-control "  id="validationDefault04" placeholder="State" required>
              </div>
              <div class="col-lg-4 col-md-4">
                  <label for="inputState">Select Role</label>
                  <select [(ngModel)]="role" name="role" id="inputState" class="form-control">
                    <option>Employee</option>
                    <option>Guard</option>
                    <option>Clerk</option>
                  </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="submit">
          </form>
</div>